<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>

  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info">名前:<%= message.name %></span>
        <span>年齢:<%= message.age  %>歳</span>
                <span>内容:<%= message.body %></span>
        (<%= link_to "編集" , edit_message_path(message) %>
         <%= link_to "削除" , message , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
        )
      <br>
    <% end %>
  </div>
</div>

<% #部分テンプレートを読み込んでいる %>
<%= render 'form' %>